.dropArea {
  border: 2px dashed;
  border-radius: 10px;
  transition: border-color 0.3s ease;
}

.dropArea.dragging {
  border-color: var(--red-300) !important; /* Change border color when dragging */
  filter: blur(.5px);
  opacity: .8;
}

.content {
  gap: 10px;
}

.content p {
  font-size: 15px;
  font-weight: 600;
  margin: 0;
}

.content span {
  color: var(--red-200);
  font-weight: 400;
}

.errorText {
  color: var(--red-200);
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
}

.info {
  margin-top: 30px;
}

.info p {
  font-size: 14.5px;
  font-weight: 400;
  margin: 0;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.crossIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  fill: var(--red-200); /* Adjust color as needed */
}

@media (max-width: 768px) {
  .dropArea {
    height: 188px !important;
  }
}
