.main {
  width: 70%;
  margin: 0 auto;
}
.box {
  /* min-height: 550px; */
  background-color: rgba(0, 0, 0, var(--footer-opacity));
  padding-top: 60px;
  border-radius: 20px;
}
.icon {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.innerBox {
  background-color: rgba(0, 0, 0, var(--bar-opacity));
  text-align: center;
  padding: 60px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

@media (max-width: 768px) {
  .main {
    width: 90%;
  }
  .innerBox {
    padding: 30px 20px;
  }
  .box {
    padding-top: 20px;
  }
}
