.button {
  gap: 10px;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
  background-color: var(--hover-color) !important;
}

.icon {
}

.text {
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
}
